
@{
    ViewBag.Title = "Blog_Single";
}

<!-- Start Content Wrapper -->
<div class="content_wrapper_sbr">
    <div class="PageTitle">
        <h1>Blog</h1>
    </div>
    <div id="breadcrumbs">
        <a href="index.html" title="Home">Home</a> &raquo; <a href="blog.html" title="Blog">Blog</a> &raquo; Blog Single Page
    </div>
    <!-- Content Area -->
    <div id="content">
        <!-- Start Post -->
        <div class="post">
            <h2><a href="#">Mauris Sollicitudin Laoreet Magna Tempor</a></h2>
            <div class="posted">
                <span class="date">December 15, 2010</span>
                <span class="author"><a href="#">Sam Brown</a></span>
                <span class="category"><a href="#">News</a></span>
                <span class="comments"><a href="#">5 Comments</a></span>
                <div class="clear"></div>
            </div>
            <div class="post_thumb"><a href="#"><img src="/images/content/blog_01.jpg" width="602" height="224" alt="" class="pic" /></a></div>
            <div class="excerpt">
                <p>Donec accumsan malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec malesuada. Udipiscing elit mauris sifermentum. Tellus dolor, dapibus eget, elementum. Unean auctor wisi et urna. Aliquam erat volutpat.  Quisque vitae sem in massa viverra laoreet vitae at lectus. Phasellus sem est, posuere at sollicitudin a, eleifend vel mauris. Praesent quis erat eget ipsum vulputate volutpat. Nulla facilisi. Cras gravida elit nec libero accumsan mattis. Maecenas ut sem eu nulla euismod tincidunt in vitae diam. Sed lectus dui, varius nec laoreet ac, cursus vel quam. In tempus velit ut massa lobortis a facilisis neque dapibus.</p>
            </div>
        </div>
        <!-- End Post -->
        <!-- Post bio -->
        <div id="bio">
            <div class="bio">
                <img src="/images/avatar.gif" class="avatar avatar-80 photo" height="80" width="80" alt="" />
                <div class="bio_info">
                    <h3>About the author</h3>
                    <span>admin had written 8 articles for Inspiration WP</span>
                    <p>Donec accumsan malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec malesuada. Udipiscing elit mauris sifermen tum. Tellus dolor, dapibus eget, elementum. Unean auctor wisi et urna. </p>
                </div>
            </div>
        </div>
        <!-- // Post bio -->
        <div class="hr bottom"></div>
        <div class="popular_related">
            <div class="popular">
                <h3>Popular Posts</h3>
                <ul>
                    <li>
                        <a href="#"><img src="/images/content/blog_pp_01.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="#">Accumsan malesuada sitmet eros lorem</a></b>
                        <span class="date">September 15, 2010</span>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href="#"><img src="/images/content/blog_pp_02.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="#">Malesuada orcdonec umet lorem doloronsec tetuer malesuada</a></b>
                        <span class="date">August 30, 2010</span>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href="#"><img src="/images/content/blog_pp_03.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="#">Udipiscing elit mauris sifermen tum tellus dapibus</a></b>
                        <span class="date">August 25, 2010</span>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
            <div class="related">
                <h3>Related Posts</h3>
                <ul>
                    <li>
                        <a href="#"><img src="/images/content/blog_rp_01.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="#">Accumsan malesuada sitmet eros lorem</a></b>
                        <span class="date">September 15, 2010</span>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href="#"><img src="/images/content/blog_rp_02.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="#">Malesuada orcdonec umet lorem doloronsec tetuer malesuada</a></b>
                        <span class="date">August 30, 2010</span>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href="#"><img src="/images/content/blog_rp_03.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="#">Udipiscing elit mauris sifermen tum tellus dapibus</a></b>
                        <span class="date">August 25, 2010</span>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <!-- Start Commentlist -->
        <h3>Discussion - 3 comments</h3>
        <!-- Start Commentlist Navigation -->
        <div class="comments-navigation">
            <div class="comments-nav-previous"><a href="#">Older Comments</a></div>
            <div class="comments-nav-next"><a href="#">Newer Comments</a></div>
        </div>
        <ul id="commentlist">
            <li>
                <div class="comment">
                    <div class="vcard">
                        <img src="/images/avatar.gif" width="80" height="80" alt="" class="avatar" />
                        <span class="comment_author">Maggy</span>
                        <span class="when_posted">20.12.2010 at 21:55</span>
                        <div class="clear"></div>
                    </div>
                    <div class="posted_content">
                        <div class="pointer_pc"></div>
                        <div class="comment-body">Malesuada orcidonec sitmet eros lorem isum dolor amet adipiscing elit maurise pharetra magna accumsan. Maluada cdonec umet lorem doloronsec tetuer malesuada.</div>
                        <a href="#" class="comment-reply-link">Reply</a>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <ul class="children">
                    <li>
                        <div class="comment">
                            <div class="vcard">
                                <img src="/images/avatar.gif" width="80" height="80" alt="" class="avatar" />
                                <span class="comment_author"><a href="#">Eric</a></span>
                                <span class="when_posted">20.12.2010 at 21:55</span>
                                <div class="clear"></div>
                            </div>
                            <div class="posted_content">
                                <div class="pointer_pc"></div>
                                <div class="comment-body">Malesuada orcidonec sitmet eros lorem isum dolor amet adipiscing elit maurise pharetra magna accumsan. Maluada orcdonec umet lorem doloronsec tetuer malesuada.</div>
                                <a href="#" class="comment-reply-link">Reply</a>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <ul class="children">
                            <li>
                                <div class="comment">
                                    <div class="vcard">
                                        <img src="/images/avatar.gif" width="80" height="80" alt="" class="avatar" />
                                        <span class="comment_author">Alex</span>
                                        <span class="when_posted">20.12.2010 at 21:55</span>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="posted_content">
                                        <div class="pointer_pc"></div>
                                        <div class="comment-body">Malesuada orcidonec sitmet eros lorem isum dolor amet adipiscing elit maurise pharetra magna accumsan. Maluada orcdonec umet lorem doloronsec tetuer malesuada.</div>
                                        <a href="#" class="comment-reply-link">Reply</a>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="odd">
                <div class="comment">
                    <div class="vcard">
                        <img src="/images/avatar.gif" width="80" height="80" alt="" class="avatar" />
                        <span class="comment_author">Eric</span>
                        <span class="when_posted">20.12.2010 at 21:55</span>
                        <div class="clear"></div>
                    </div>
                    <div class="posted_content">
                        <div class="pointer_pc"></div>
                        <div class="comment-body">Malesuada orcidonec sitmet eros lorem isum dolor amet adipiscing elit maurise pharetra magna accumsan. Maluada orcdonec umet lorem doloronsec tetuer malesuada.</div>
                        <a href="#" class="comment-reply-link">Reply</a>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </li>
            <li>
                <div class="comment">
                    <div class="vcard">
                        <img src="/images/avatar.gif" width="80" height="80" alt="" class="avatar" />
                        <span class="comment_author">Maggy</span>
                        <span class="when_posted">20.12.2010 at 21:55</span>
                        <div class="clear"></div>
                    </div>
                    <div class="posted_content">
                        <div class="pointer_pc"></div>
                        <div class="comment-body">Malesuada orcidonec sitmet eros lorem isum dolor amet adipiscing elit maurise pharetra magna accumsan. Maluada cdonec umet lorem doloronsec tetuer malesuada.</div>
                        <a href="#" class="comment-reply-link">Reply</a>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </li>
        </ul>
        <!-- Start Commentlist Navigation -->
        <div class="comments-navigation">
            <div class="comments-nav-previous"><a href="#">Older Comments</a></div>
            <div class="comments-nav-next"><a href="#">Newer Comments</a></div>
        </div>
        <div class="hr bottom"></div>
        <!-- Start Commentform -->
        <h2>leave a comment</h2>
        <form action="action" id="commentform">
            <p><img src="/images/icon_author.png" width="16" height="16" alt="" class="icon" /><label for="name">Your Name: <small>(required)</small></label><input type="text" id="name" /></p>
            <p><img src="/images/icon_mail.png" width="16" height="16" alt="" class="icon" /><label for="email">E-mail: <small>(will not be published) (required)</small></label><input type="text" id="email" /></p>
            <p><img src="/images/icon_website.png" width="16" height="16" alt="" class="icon" /><label for="website">Website:</label><input type="text" id="website" /></p>
            <p><label for="your_message">Your Message:</label><textarea id="your_message" cols="15" rows="7"></textarea></p>
            <p><input type="submit" value="Submit Comment" /></p>
        </form>
    </div>
    <!-- Sidebar Area -->
    <div id="sidebar">
        <div class="widget-container widget_search">
            <form action="action" id="searchform">
                <div>
                    <label for="s" class="screen-reader-text">Search for:</label>
                    <input type="text" id="s" name="s" value="" />
                    <input type="submit" value="Search" id="searchsubmit" />
                </div>
            </form>
        </div>
        <div class="widget-container widget_categories">
            <h3>Categories</h3>
            <ul>
                <li><a href="blog_single.html" title="Web Design">Web Design</a></li>
                <li><a href="blog_single.html" title="News">News</a></li>
                <li><a href="blog_single.html" title="Photography">Photography</a></li>
                <li><a href="blog_single.html" title="Technology">Technology</a></li>
            </ul>
        </div>
        <div class="widget-container widget_tabbed">
            <!-- Start Tabbed Box Container -->
            <!-- Tabs Menu -->
            <ul class="tab-items">
                <li><a href="#tabs-1" title="Popular">Popular</a></li>
                <li><a href="#tabs-2" title="Recent">Recent</a></li>
                <li><a href="#tabs-3" title="Comments">Comments</a></li>
            </ul>
            <!-- Tab Container for menu with ID tabs-1 -->
            <div class="tabs-inner" id="tabs-1">
                <ul>
                    <li>
                        <a href="blog_single.html"><img src="/images/content/sidebar_p_01.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="blog_single.html">Accumsan malesuada sitmet eros lorem</a></b>
                        <span class="date">September 15, 2010</span>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href="blog_single.html"><img src="/images/content/sidebar_p_02.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="blog_single.html">Malesuada orcdonec umet lorem doloronsec tetuer malesuada</a></b>
                        <span class="date">August 30, 2010</span>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href="blog_single.html"><img src="/images/content/sidebar_p_03.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="blog_single.html">Udipiscing elit mauris sifermen tum tellus dapibus</a></b>
                        <span class="date">August 25, 2010</span>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href="blog_single.html"><img src="/images/content/sidebar_p_04.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="blog_single.html">Udipiscing elit mauris sifermen tum tellus dapibus</a></b>
                        <span class="date">August 20, 2010</span>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
            <!-- Tab Container for menu with ID tabs-2 -->
            <div class="tabs-inner" id="tabs-2">
                <ul>
                    <li>
                        <a href="blog_single.html"><img src="/images/content/sidebar_r_01.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="blog_single.html">Malesuada orcdonec</a></b>
                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</p>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href="blog_single.html"><img src="/images/content/sidebar_r_02.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="blog_single.html">Udipiscing elit</a></b>
                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</p>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href="blog_single.html"><img src="/images/content/sidebar_r_03.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="blog_single.html">Ullam corporis suscipit</a></b>
                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</p>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <a href="blog_single.html"><img src="/images/content/sidebar_r_04.jpg" width="60" height="55" alt="" class="pic alignleft" /></a>
                        <b><a href="blog_single.html">Malesuada orcdonec</a></b>
                        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</p>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
            <!-- Tab Container for menu with ID tabs-3 -->
            <div class="tabs-inner" id="tabs-3">
                <ul>
                    <li>
                        <b><a href="blog_single.html">Accumsan malesuada sitmet eros lorem</a></b>
                        <span class="date">September 15, 2010</span>
                    </li>
                    <li>
                        <b><a href="blog_single.html">Malesuada orcdonec umet lorem doloronsec tetuer malesuada</a></b>
                        <span class="date">August 30, 2010</span>
                    </li>
                    <li>
                        <b><a href="blog_single.html">Udipiscing elit mauris sifermen tum tellus dapibus</a></b>
                        <span class="date">August 25, 2010</span>
                    </li>
                    <li>
                        <b><a href="blog_single.html">Udipiscing elit mauris sifermen tum tellus dapibus</a></b>
                        <span class="date">August 20, 2010</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End Tabbed Box Container -->
        <!-- Text Widget -->
        <div class="widget-container widget_text">
            <h3>Text Widget</h3>
            <div class="textwidget">
                <p>Donec accumsan malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec malesuada. Udipiscing elit mauris sifermentum. Tellus dolor, dapibus eget, elementum. Unean auctor wisi et urna. Aliquam erat volutpat.</p>
            </div>
        </div>
        <!-- Archive Widget -->
        <div class="widget-container widget_archive">
            <h3>Archives</h3>
            <ul>
                <li><a href="blog.html" title="August 2011">August 2011</a> (15)</li>
                <li><a href="blog_alternate.html" title="July 2011">July 2011</a> (10)</li>
                <li><a href="blog.html" title="June 2011">June 2011</a> (8)</li>
                <li><a href="blog_alternate.html" title="May 2011">May 2011</a> (25)</li>
                <li><a href="blog.html" title="April 2011">April 2011</a> (153)</li>
                <li><a href="blog_alternate.html" title="March 2011">March 2011</a> (5)</li>
                <li><a href="blog.html" title="February 2011">February 2011</a> (9)</li>
                <li><a href="blog_alternate.html" title="January 2011">January 2011</a> (5)</li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
<!-- End Content Wrapper -->

