@{
    ViewBag.Title = "Convênios";
}

<!-- Start Content Wrapper -->
<div class="content_wrapper">
    <div class="PageTitle">
        <h1>Convênios</h1>
    </div>
    <div id="breadcrumbs">
        <a href="/Home/Index" title="Home">Home</a> &raquo; <a href="/Home/Sobre" title="Sobre">Sobre</a> &raquo; Parceiros
    </div>
    <!-- Content Area -->
    <div id="content">
        <div class="partners">
            <ul>
                <li>
                    <div class="partner_item">
                        <a href="#"><img src="/partners/partner_logo1.jpg" width="214" height="194" alt="" /></a>
                        <div class="caption">
                            <h4>Convênio 1</h4>
                            <p>Donec accumsan malesuada orcidonec sitmet eros...</p>
                            <a href="#" class="partner_link">www.convenio-1.com</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="partner_item">
                        <a href="#"><img src="/partners/partner_logo2.jpg" width="214" height="194" alt="" /></a>
                        <div class="caption">
                            <h4>Convênio 2</h4>
                            <p>Donec accumsan malesuada orcidonec sitmet eros...</p>
                            <a href="#" class="partner_link">www.convenio-2.com</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="partner_item">
                        <a href="#"><img src="/partners/partner_logo3.jpg" width="214" height="194" alt="" /></a>
                        <div class="caption">
                            <h4>Convênio 3</h4>
                            <p>Donec accumsan malesuada orcidonec sitmet eros...</p>
                            <a href="#" class="partner_link">www.convenio-3.com</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="partner_item">
                        <a href="#"><img src="/partners/partner_logo4.jpg" width="214" height="194" alt="" /></a>
                        <div class="caption">
                            <h4>Convênio 4</h4>
                            <p>Donec accumsan malesuada orcidonec sitmet eros...</p>
                            <a href="#" class="partner_link">www.convenio-4.com</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="partner_item">
                        <a href="#"><img src="/partners/partner_logo5.jpg" width="214" height="194" alt="" /></a>
                        <div class="caption">
                            <h4>Convênio 5</h4>
                            <p>Donec accumsan malesuada orcidonec sitmet eros...</p>
                            <a href="#" class="partner_link">www.convenio-5.com</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="partner_item">
                        <a href="#"><img src="/partners/partner_logo6.jpg" width="214" height="194" alt="" /></a>
                        <div class="caption">
                            <h4>Convênio 6</h4>
                            <p>Donec accumsan malesuada orcidonec sitmet eros...</p>
                            <a href="#" class="partner_link">www.convenio-6.com</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="partner_item">
                        <a href="#"><img src="/partners/partner_logo7.jpg" width="214" height="194" alt="" /></a>
                        <div class="caption">
                            <h4>Convênio 7</h4>
                            <p>Donec accumsan malesuada orcidonec sitmet eros...</p>
                            <a href="#" class="partner_link">www.convenio-7.com</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="partner_item">
                        <a href="#"><img src="/partners/partner_logo8.jpg" width="214" height="194" alt="" /></a>
                        <div class="caption">
                            <h4>Convênio 8</h4>
                            <p>Donec accumsan malesuada orcidonec sitmet eros...</p>
                            <a href="#" class="partner_link">www.convenio-8.com</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="partner_item">
                        <a href="#"><img src="/partners/partner_logo9.jpg" width="214" height="194" alt="" /></a>
                        <div class="caption">
                            <h4>Convênio 9</h4>
                            <p>Donec accumsan malesuada orcidonec sitmet eros...</p>
                            <a href="#" class="partner_link">www.convenio-9.com</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="partner_item">
                        <a href="#"><img src="/partners/partner_logo10.jpg" width="214" height="194" alt="" /></a>
                        <div class="caption">
                            <h4>Convênio 10</h4>
                            <p>Donec accumsan malesuada orcidonec sitmet eros...</p>
                            <a href="#" class="partner_link">www.convenio-10.com</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="partner_item">
                        <a href="#"><img src="/partners/partner_logo11.jpg" width="214" height="194" alt="" /></a>
                        <div class="caption">
                            <h4>Convênio 11</h4>
                            <p>Donec accumsan malesuada orcidonec sitmet eros...</p>
                            <a href="#" class="partner_link">www.convenio-11.com</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="partner_item">
                        <a href="#"><img src="/partners/partner_logo1.jpg" width="214" height="194" alt="" /></a>
                        <div class="caption">
                            <h4>Convênio 12</h4>
                            <p>Donec accumsan malesuada orcidonec sitmet eros...</p>
                            <a href="#" class="partner_link">www.convenio-12.com</a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <!-- Start Paging -->
        @*<div class="wp-pagenavi">
            <ul>
                <li><span class="pages">Page 1 of 7</span></li>
                <li><a href="#" class="first">&laquo; First</a></li>
                <li><a href="#" class="previouspostslink">&lsaquo;</a></li>
                <li><a href="#" class="page">1</a></li>
                <li><a href="#" class="page">2</a></li>
                <li><a href="#" class="page">3</a></li>
                <li><a href="#" class="page">4</a></li>
                <li><span class="current">5</span></li>
                <li><span class="extend">...</span></li>
                <li><a href="#" class="nextpostslink">&rsaquo;</a></li>
                <li><a href="#" class="last">Last &raquo;</a></li>
            </ul>
        </div>*@

        <!-- Start Alternate Paging -->
        @*<div class="navigation" id="nav-above">
        <div class="nav-previous"><a href="#"><span class="meta-nav">&larr;</span> Older posts</a></div>
        <div class="nav-next"><a href="#">Newer posts <span class="meta-nav">&rarr;</span></a></div>
    </div>
    <div class="clear"></div>*@
    </div>
</div>
<!-- End Content Wrapper -->

