@{
    ViewBag.Title = "Eternity | Convênios";
    ViewBag.SelectedMenu = "convenios";
}

<!-- Start Content Wrapper -->
<div class="content_wrapper">
    <div class="PageTitle">
        <h1>Convênios</h1>
    </div>
    <div id="breadcrumbs">
        <a href="/Home/Index" title="Home">Home</a> &raquo; <a href="/Home/Sobre" title="Sobre">Sobre</a> &raquo; Convênios
    </div>
    <div>      
        <div id="content" class="tab-content column" data-place="2">
            
            <!-- Inicio Pagina 1 -->
            <div class="tab-pane active partners" id="tab1">
                <ul>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/1aOdonto.jpg" alt="1A Odonto" /></a>
                            <div class="caption">
                                <h4>1A Odonto</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.1aodonto.com/" target="blank" class="partner_link">www.1aodonto.com/</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/aesp.jpg" alt="AESP" /></a>
                            <div class="caption">
                                <h4>AESP</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.aespodonto.com.br" target="blank" class="partner_link">www.aespodonto.com.br</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/amil.jpg" alt="Amil Dental" /></a>
                            <div class="caption">
                                <h4>Amil Dental</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.amildental.com.br/" target="blank" class="partner_link">www.amildental.com.br/</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/apoodonto.jpg" alt="APO Odonto" /></a>
                            <div class="caption">
                                <h4>APO Odonto</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.apoodonto.com.br/" target="blank" class="partner_link">www.apoodonto.com.br/</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/belodente.jpg" alt="Belo Dente" /></a>
                            <div class="caption">
                                <h4>Belo Dente</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.belodente.com.br" target="blank" class="partner_link">www.belodente.com.br</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/bioral.jpg" alt="Bioral" /></a>
                            <div class="caption">
                                <h4>Bioral</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.bioral.com.br" target="blank" class="partner_link">www.bioral.com.br</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/crown.jpg" alt="Crown Odonto" /></a>
                            <div class="caption">
                                <h4>Crown Odonto</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.crownodonto.com.br" target="blank" class="partner_link">www.crownodonto.com.br</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/dental_center.jpg" alt="Dental Center" /></a>
                            <div class="caption">
                                <h4>Dental Center</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.dentalcenter.com.br" target="blank" class="partner_link">www.dentalcenter.com.br</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/dental_plus.jpg" alt="Dental Plus" /></a>
                            <div class="caption">
                                <h4>Dental Plus</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.dentalplus-sorria.com.br" target="blank" class="partner_link">www.dentalplus-sorria.com.br</a>
                            </div>            
                        </div>
                    </li>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/dental_uni.jpg" alt="Dental Uni" /></a>
                            <div class="caption">
                                <h4>Dental Uni</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.dentaluni.com.br" target="blank" class="partner_link">www.dentaluni.com.br</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/iamspe.jpg" alt="IAMSPE" /></a>
                            <div class="caption">
                                <h4>IAMSPE Odonto</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.iamspe.sp.gov.br/index.php/odontologia-1" target="blank" class="partner_link">www.iamspe.sp.gov.br</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/inpao.jpg" alt="Inpao" /></a>
                            <div class="caption">
                                <h4>INPAO</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.inpao.com.br" target="blank" class="partner_link">www.inpao.com.br</a>
                            </div>
                        </div>
                    </li>
                                  
                </ul>
            </div>
            <!-- Fim Pagina 1 -->

            <!-- Inicio Pagina 2 -->
            <div class="tab-pane partners" id="tab2">
                <ul>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/interodonto.jpg" alt="Interodonto" /></a>
                            <div class="caption">
                                <h4>Interodonto</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.interodonto.com.br" target="blank" class="partner_link">www.interodonto.com.br</a>
                            </div>
                        </div>
                    </li>   
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/life-empresarial.jpg" alt="Life Empresarial" /></a>
                            <div class="caption">
                                <h4>Life Empresarial</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <<a href="http://www.lifeempresarial.com.br/" target="blank" class="partner_link">www.lifeempresarial.com.br/</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/lisdental.jpg" alt="Lis Dental" /></a>
                            <div class="caption">
                                <h4>Lis Dental</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.lisdental.com.br" target="blank" class="partner_link">www.lisdental.com.br/</a>
                            </div>
                        </div>
                    </li>   
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/mapfre.jpg" alt="Mapfre Odonto" /></a>
                            <div class="caption">
                                <h4>Mapfre Odonto</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.mapfreodonto.com.br/" target="blank" class="partner_link">www.mapfreodonto.com.br/</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/metlife.jpg" alt="Metlife" /></a>
                            <div class="caption">
                                <h4>Metlife</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.metlife.com.br/" target="blank" class="partner_link">www.metlife.com.br/</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/mogidonto.jpg" alt="Mogidonto" /></a>
                            <div class="caption">
                                <h4>Mogidonto</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.mogidonto.com.br/" target="blank" class="partner_link">www.mogidonto.com.br/</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/odontoempresa.jpg" alt="Odontoempresa" /></a>
                            <div class="caption">
                                <h4>Odontoempresa</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.odontoempresa.com.br/" target="blank" class="partner_link">www.odontoempresa.com.br/</a>
                            </div>
                        </div>
                    </li>  
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/odontosa.jpg" alt="Odonto SA" /></a>
                            <div class="caption">
                                <h4>Odonto SA</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.odontosa.com.br/" target="blank" class="partner_link">www.odontosa.com.br/</a>
                            </div>
                        </div>
                    </li>                  
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/oralodonto.jpg" alt="Oraldonto" /></a>
                            <div class="caption">
                                <h4>Oraldonto</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.oraldonto.com.br/" target="blank" class="partner_link">www.oraldonto.com.br/</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/personaldoctor.jpg" alt="Personal Doctor" /></a>
                            <div class="caption">
                                <h4>Personal Doctor</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.personaldoctor.com.br/" target="blank" class="partner_link">www.personaldoctor.com.br/</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/portoseguro.jpg" alt="Porto Seguro" /></a>
                            <div class="caption">
                                <h4>Porto Seguro</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.portoseguro.com.br/seguros/saude-e-odonto/" target="blank" class="partner_link">www.portoseguro.com.br/</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/prevident.jpg" alt="Prevident" /></a>
                            <div class="caption">
                                <h4>Prevident</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.prevident.com.br/" target="blank" class="partner_link">www.prevident.com.br/</a>
                            </div>
                        </div>
                    </li>                                                                           
                </ul>
            </div>
            <!-- Fim Pagina 2 -->
            
            <!-- Inicio Pagina 3 -->
            <div class="tab-pane partners" id="tab3">
                <ul>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/saofrancisco.jpg" alt="São Francisco" /></a>
                            <div class="caption">
                                <h4>São Francisco</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.saofrancisco.com.br/site/sfo/" target="blank" class="partner_link">www.saofrancisco.com.br/</a>
                            </div>
                        </div>
                    </li>   
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/sempreodonto.jpg" alt="Sempre Odonto" /></a>
                            <div class="caption">
                                <h4>Sempre Odonto</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.sempreodonto.com.br/" target="blank" class="partner_link">www.sempreodonto.com.br/</a>
                            </div>
                        </div>
                    </li>      
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/soesp.jpg" alt="SOESP" /></a>
                            <div class="caption">
                                <h4>SOESP</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.soespodonto.com.br/" target="blank" class="partner_link">www.soespodonto.com.br/</a>
                            </div>
                        </div>
                    </li>    
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/sorriso.jpg" alt="Sorriso Saúde" /></a>
                            <div class="caption">
                                <h4>Sorriso Saúde</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.sorrisoassist.com.br/" target="blank" class="partner_link">www.sorrisoassist.com.br/</a>
                            </div>
                        </div>
                    </li>     
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/unimed.jpg" alt="Unimed" /></a>
                            <div class="caption">
                                <h4>Unimed Odonto</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.unimedodonto.com.br/" target="blank" class="partner_link">www.unimedodonto.com.br/</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="partner_item">
                            <a href="#"><img src="/images/convenios/upodonto.jpg" alt="Up Odonto" /></a>
                            <div class="caption">
                                <h4>Up Odonto</h4>
                                <p>Obs: Atendimento a convênios exclusivamente Unidade Centro</p>
                                <a href="http://www.upodonto.com.br/" target="blank" class="partner_link">www.upodonto.com.br/</a>
                            </div>
                        </div>
                    </li>                                
                </ul>
            </div>
            <!-- Fim Pagina 3 -->
        </div>
   
        <div class="nav nav-tabs wp-pagenavi">
            <ul>
                <li><span class="pages">Page 1 of 3</span></li>
                <li><a href="#tab1" class="first" data-toggle="tab">&laquo; Inicio</a></li>
                <li class="active"> <a href="#tab1"  data-toggle="tab">1</a></li>
                <li><a href="#tab2"  data-toggle="tab">2</a></li>
                <li><a href="#tab3"  data-toggle="tab">3</a></li>
                <li><a href="#tab3" data-toggle="tab" class="last">Última &raquo;</a></li>
            </ul>
        </div>         
    </div>
</div>
<!-- End Content Wrapper -->
