
@{
    ViewBag.Title = "Eternity | Cursos";
}


<div class="content_wrapper">
    <div class="PageTitle">
        <h1>Cursos</h1>
    </div>
    <div id="breadcrumbs">
        <a href="/Home" title="Home">Home</a> &raquo; <a href="/Home/About" title="About Us">Sobre</a> &raquo; Cursos
    </div>
    <!-- Content Area -->

    <div class="columns3">
        <div id="sidebar" class="column">
            <h2>Cursos Odontológicos</h2>
            <div class="nav nav-tabs widget-container widget_categories">
                <ul>
                    <li class="active"><a href="#tab0" data-toggle="tab" title="Botox">Palestra Gratuita 19/03/2015</a></li>
                </ul>
            </div>
        </div>
        <div class="tab-content column" data-place="2">
            <div class="tab-pane active" id="tab0">
               <img src="/images/cursos/cursoendodontia.jpg"/>
            </div>  
        </div>
    </div>
    <div class="clear"></div>
</div>
<!-- End Content Wrapper -->
