
@{
    ViewBag.Title = "Eternity | Especialidades";
    
}

<!-- Start Content Wrapper -->
<div class="content_wrapper">
    <div class="PageTitle">
        <h1>Especiliades</h1>
    </div>
    <div id="breadcrumbs">
        <a href="/Home" title="Home">Home</a> &raquo; <a href="/Home/About" title="About Us">Sobre</a> &raquo; Especialidades
    </div>
    <!-- Content Area -->
  
        <div class="columns3">
            <div id="sidebar" class="column">
                <h2>Nossas Especialidades</h2>               
                <div class="nav nav-tabs widget-container widget_categories">
                    <ul>
                        <li class="active"><a href="#tab0" data-toggle="tab" title="Botox">Botox</a></li>
                        <li><a href="#tab1" data-toggle="tab" title="Ortodontia">Ortodontia</a></li>
                        <li><a href="#tab2" data-toggle="tab" title="Implantodontia">Implantodontia</a></li>
                        <li><a href="#tab3" data-toggle="tab" title="Bucomaxilodontia">Cirurgia e Traumatologia Buco-Maxilo-Faciais</a></li>
                        <li><a href="#tab4" data-toggle="tab" title="Endodontia">Endodontia</a></li>                       
                        <li><a href="#tab5" data-toggle="tab" title="Periodontia">Periodontia</a></li>
                        <li><a href="#tab6" data-toggle="tab" title="Odontogeriatria">Odontogeriatria</a></li>
                        <li><a href="#tab7" data-toggle="tab" title="Odontopediatria">Odontopediatria</a></li>
                        <li><a href="#tab8" data-toggle="tab" title="Estomatologia">Estomatologia</a></li>
                        <li><a href="#tab9" data-toggle="tab" title="Dentistica">Dentistica</a></li>
                    </ul>
                </div>            
            </div>
            <div class="tab-content column" data-place="2">
                <div class="tab-pane active" id="tab0">
                    <h2>Botox</h2>
                    <img src="/images/content/botox.jpg" width="192" height="224" class="pic alignleft" alt="" />
                    <p style="text-align: justify;">
                        A Toxina Botulinica mundialmente conhecida como <strong>BOTOX </strong>expandiu sua atuação da estética para terapêutica
                        no consultorio dentário, reduzindo as dores na face e os efeitos do bruxismo.<br/>
                        O <strong>BOTOX </strong>atua impedindo a contração muscular trazendo relaxamentoe alívio das marcas de expressão. A Toxina
                        Botulínica na Odontologia pode ser utilizada em diversos tratamentos: Buxismo, Apertamento, correção de sorriso gengival,
                        Tratamento do respirador bucal, Dores faciais, Cefaleia tensional, Salivação excessiva, Alterações na tonicidade muscular e
                        Alterações na Articulação Mandibular.<br/>
                        A utilização periódica do <strong>BOTOX </strong>pode levar a um condicionamento muscular, melhorando definitivamente alguns 
                        quadros clínicos como alterações faciais por pacientes vítima de AVC que apresentam assimetria facial e distúrbios motores na região
                        orofacial
                    </p>
                </div>
                <div class="tab-pane" id="tab1"> 
                    <h2>Ortodontia</h2>
                    <img src="/images/content/ortodontia.jpg" width="192" height="224" class="pic alignleft" alt="" />
                    <p style="text-align: justify;">                       
                        Ortodontia é a especialidade que tem como objetivo a prevenção, a supervisão e a orientação do desenvolvimento do aparelho
                        mastigatório e a correção das estruturas dento-faciais, incluindo as condições que requeiram movimentação dentária, bem como
                        harmonização da face no complexo maxilo-mandibular.
                        <br />As áreas de competência para atuação do especialista em Ortodontia incluem: diagnóstico, prevenção, interceptação e prognóstico das maloclusões e disfunções neuro-musculares,
                        planejamento do tratamento e sua execução mediante indicação, aplicação e controle dos aparelhos mecanoterápicos,
                        para obter e manter relações oclusais normais em harmonia funcional, estética e fisiológica com as estruturas faciais e,
                        interrelacionamento com outras especialidades afins necessárias ao tratamento integral da face.                                         
                        <br/>Na Odontologia destacam-se três problemas básicos: a cárie dentária, a doença periodontal e má oclusão dos dentes. É neste último que se insere a ortodontia, cujo propósito é tratar e corrigir as más oclusões.
                        <br/>O tratamento ortodôntico torna a boca mais saudável, proporciona uma aparência mais agradável e dentes com possibilidade de durar a vida toda.
                        <br/>O especialista, neste campo, é chamado de ortodontista. Este precisa fazer, após o curso de graduação regular – com cinco anos de duração –, a pós-Graduação.
                        <br/>Muitos casos de má oclusão dentária poderiam ter seu tratamento iniciado antes da fase da dentição permanente, evitando-se assim o agravamento dos problemas por ela causados.
                    </p>
                </div>
                <div class="tab-pane" id="tab2">
                    <h2>Implantodontia</h2>
                    <img src="/images/content/implantodontia.jpg" width="192" height="224" class="pic alignleft" alt="" />
                    <p style="text-align: justify;">
                        Implantodontia é a especialidade que tem como objetivo a implantação na mandíbula e na maxila, de materiais aloplásticos destinados a 
                        suportar próteses unitárias, parciais ou removíveis e próteses totais.
                        <br />As áreas de competência para atuação do especialista em Implantodontia incluem: diagnóstico das condições das estruturas ósseas dos maxilares,
                        diagnóstico das alterações das mucosas bucais, e das estruturas de suporte dos elementos dentários, técnicas e procedimentos de laboratório relativos aos diferentes tipos de prótese a serem executadas sobre os implantes,
                        técnicas cirúrgicas especificas ou afins nas colocações de implantes, manutenção e controle dos implantes e realização de enxertos ósseos e gengivais e de implantes dentários no complexo maxilo-facial.
                        <br />A instalação de implante passa por: primeira consulta para estabelecer um plano de tratamento; retorno com exames complementares; moldagens para confecção de guias; instalação do implante e retorno do pós-operatório.
                        <br />Como sabemos, esta terceira dentição precisa dos mesmos cuidados que a original. E pode ser perdida se o paciente for negligente com sua saúde bucal e não observar as indicações do profissional para manutenção do tratamento odontológico e prevenção de riscos e eventuais danos.
                        <br />Prevenção é fundamental para manter o implante, que pode fraturar por causa de alimentação imprópria, adquirir doença gengival e peri implantar tal qual o dente original perdido por gengivite ou periodontite.
                        <br />Se levarmos em consideração que a estimativa da OMS (Organização Mundial de Saúde) tem como expectativa de vida 76 anos a idade média da população brasileira, os cuidados com os implantes instalados devem ser ponto de atenção para obtermos longevidade nos tratamentos.
                    </p>
                </div>      
                <div class="tab-pane" id="tab3">
                    <h2>Cirurgia e Traumatologia Buco-Maxilo-Faciais</h2>
                    <img src="/images/content/bucomaxilo.jpg" width="192" height="224" class="pic alignleft" alt="" />
                    <p style="text-align: justify;">
                        Cirurgia e Traumatologia Buco-Maxilo-Faciais é a especialidade que tem como objetivo o diagnóstico e o tratamento cirúrgico e coadjuvante das doenças, 
                        traumatismos,e anomalias congênitas e adquiridas do aparelho mastigatório e anexos, e estruturas crânio-faciais associadas.
                        <br />As áreas de competência para atuação do especialista em Cirurgia e Traumatologia Buco-Maxilo-Faciais incluem: implantes, enxertos, transplantes e reimplantes, biópsias,cirurgia com finalidade protética
                        cirurgia com finalidade ortodôntica, cirurgia ortognática; e, diagnóstico e tratamento cirúrgico de cistos; afecções radiculares e perirradiculares; doenças das glândulas salivares; doenças da articulação têmporo-mandibular; lesões de origem traumática na área buco-maxilo-facial; 
                        malformações congênitas ou adquiridas dos maxilares e da mandíbula; tumores benignos da cavidade bucal; tumores malignos da cavidade bucal, quando o especialista deverá atuar integrado em equipe de oncologista; e, de distúrbio neurológico, com manifestação maxilo-facial, em colaboração
                        com neurologista ou neurocirurgião.
                        <br />A especialidade de Cirurgia e Traumatologia Bucomaxilofacial encontra-se atualmente inserida, reconhecida e firmada no contexto do atendimento multidisciplinar em saúde, devido a esforços de inúmeros profissionais que no passado desenvolveram suas atividades em ambientes até então não-comuns
                        à formação do cirurgião-dentista, demonstrando por inúmeras vezes sua importância, capacidade e sobretudo eficiência na resolução dos casos em sua área de atuação.
                    </p>
                </div>    
                <div class="tab-pane" id="tab4">
                    <h2>Endodontia</h2>
                    <img src="/images/content/endodontia.jpg" width="192" height="224" class="pic alignleft" alt="" />
                    <p style="text-align: justify;">
                        Endodontia é a especialidade que tem como objetivo a preservação do dente por meio de prevenção, diagnóstico, prognóstico, tratamento e controle das alterações da polpa e dos tecidos perirradiculares.
                        <br />As áreas de competência para atuação do especialista em Endodontia incluem:  procedimentos conservadores da vitalidade pulpar,  procedimentos cirúrgicos no tecido e na cavidade pulpares,
                        procedimentos cirúrgicos paraendodônticos e tratamento dos traumatismos dentários
                        <br />A percepção de que o tratamento endodôntico é inevitavelmente dolorido e demorado vem sendo desconstruída e essa ideia desmistificada. Atualmente, a população tem buscado o tratamento endodôntico 
                        com maior tranquilidade, compreendendo a importância e reconhecendo que, na verdade, esse tratamento é uma possibilidade acessível de salvamento do elemento, conservando-o, no limite de suas condições e fragilidades.
                        <br />Os pacientes têm se conscientizado de que perder, ainda que um único dente, por medo ou limitação de recursos, pode representar um prejuízo real à toda saúde bucal e à saúde em geral.
                    </p>
                </div>    
                <div class="tab-pane" id="tab5">
                    <h2>Periodontia</h2>
                    <img src="/images/content/periodontia.jpg" width="192" height="224" class="pic alignleft" alt="" />
                    <p style="text-align: justify;">
                        Periodontia é a especialidade que tem como objetivo o estudo dos tecidos de suporte e circundantes dos dentes e seus substitutos, o diagnóstico, a prevenção, o tratamento das alterações nesses tecidos e das manifestações
                        das condições sistêmicas no periodonto, e a terapia de manutenção para o controle da saúde.
                        <br />As áreas de competência para atuação do especialista em Periodontia incluem: avaliação diagnóstica e planejamento do tratamento,  avaliação da influência da doença periodontal em condições sistêmicas,
                        controle dos agentes etiológicos e fatores de risco das doenças dos tecidos de suporte e circundantes dos dentes e dos seus substitutos, procedimentos preventivos, clínicos e cirúrgicos para regeneração dos tecidos periodontais e peri-implantares,
                        planejamento e instalação de implantes e restituição das estruturas de suporte, enxertando materiais naturais e sintéticos e,
                        procedimentos necessários à manutenção de saúde.
                        <br />A doença periodontal é vista como um indicador de risco para a ocorrência de doenças cardiovasculares, entre elas o infarto e a endocardite bacteriana.
                        <br />Embora não se tenha total respaldo da literatura sobre o tema, basicamente quando ocorre a bacteremia (processo pelo qual as bactérias bucais penetram na corrente sanguínea), em indivíduos predisponentes, tais enfermidades poderiam ocorrer,
                        tendo como origem o processo infecto-inflamatório chamado periodontite.
                        <br />Sendo assim, a correta higiene bucal é o principal fator de prevenção de doenças periodontais, uma vez que as bactérias (biofilme) são o agente etiológico principal do processo.
                        <br />Dessa maneira, é importante o paciente notar a presença de sangramento gengival. Caso isso esteja ocorrendo recomenda-se que o indivíduo busque um especialista (Periodontista) para um exame detalhado chamado: Periograma.
                    </p>
                </div> 
                <div class="tab-pane" id="tab6">
                    <h2>Odontogeriatria</h2>
                    <img src="/images/content/odontogeriatria.jpg" width="192" height="224" class="pic alignleft" alt="" />
                    <p style="text-align: justify;">
                        Odontogeriatria é a especialidade que se concentra no estudo dos fenômenos decorrentes do envelhecimento que também têm repercussão na boca e suas estruturas 
                        associadas, bem como a promoção da saúde, o diagnóstico, a prevenção e o tratamento de enfermidades bucais e do sistema estomatognático do idoso.
                        <br />As áreas de competência para atuação do especialista em Odontogeriatria incluem:  estudo do impacto de fatores sociais e demográficos no estado de saúde bucal dos idosos,
                        estudo do envelhecimento do sistema estomatognático e suas consequências,estudo, diagnóstico e tratamento das patologias bucais do paciente idoso, inclusive as derivadas de terapias medicamentosas e de irradiação, bem como do câncer bucal,
                        planejamento multidisciplinar integral de sistemas e métodos para atenção odontológica ao paciente geriátrico.
                        <br />Odontogeriatria é uma especialidade odontológica reconhecida em 2002 estando, portanto, ainda em fase de desenvolvimento e contando com poucos especialistas, porém com uma demanda crescente por aprofundar conhecimentos correlacionados com as demais especialidades da Odontologia e também da Medicina.
                        <br />Vivemos um período de profundas transformações sociais, que tem forçado os pesquisadores à busca de novas tecnologias. Evidências epidemiológicas revelam que o Brasil está cada vez mais deixando de ser um país de jovens para ter uma crescente massa populacional que envelhece, o que obriga a uma análise criteriosa do panorama socioeconômico e cultural vigente, e que também abrange todas as áreas da saúde.
                        <br />Dentre as importantes ações em andamento, a Câmara Técnica está em fase de organização de protocolos clínicos de Odontogeriatria e também realizando contato com demais especialistas de centros de pesquisa em Odontologia e Medicina do País para que, em sintonia com a evolução da produção científica, possa auxiliar os profissionais da especialidade a se manterem atualizados aos conceitos da Gerontologia contemporânea, em que o Odontogeriatra deverá ter participação crescente.
                    </p>
                </div>                       
                <div class="tab-pane" id="tab7">
                    <h2>Odontopediatria</h2>
                    <img src="/images/content/odontopediatria.jpg" width="192" height="224" class="pic alignleft" alt="" />
                    <p style="text-align: justify;">
                        Odontopediatria é a especialidade que tem como objetivo o diagnóstico, a prevenção, o tratamento e o controle dos problemas de saúde bucal do bebê, da criança e do adolescente; a educação para a saúde bucal e a integração desses procedimentos com os dos outros profissionais da área da saúde.
                        <br />As áreas de competência para atuação do especialista em Odontopediatria incluem:  romoção de saúde, devendo o especialista educar bebês, crianças, adolescentes, seus respectivos responsáveis e a comunidade para adquirirem comportamentos indispensáveis à manutenção do estado de saúde das estruturas bucais,
                        prevenção em todos os níveis de atenção, devendo o especialista atuar sobre os problemas relativos à cárie dentária, ao traumatismo, à erosão, à doença periodontal, às mal-oclusões, às malformações congênitas e às outras doenças de tecidos moles e duros, diagnosticar as alterações que afetam o sistema estomatognático e identificar fatores de risco em nível individual para os principais problemas da cavidade bucal;,
                        tratamento das lesões dos tecidos moles, dos dentes, dos arcos dentários e das estruturas ósseas adjacentes, decorrentes de cárie, traumatismos, erosão, doença periodontal, alterações na odontogênese, mal-oclusões e malformações congênitas utilizando preferencialmente técnicas de mínima intervenção baseadas em evidência,  condução psicológica dos bebês, crianças, adolescentes, e seus respectivos responsáveis para atenção odontológica.
                        
                    </p></div>    
                <div class="tab-pane" id="tab8">
                    <h2>Estomatologia</h2>
                    <img src="/images/content/estomatologia.jpg" width="192" height="224" class="pic alignleft" alt="" />
                    <p style="text-align: justify;">
                        Estomatologia é a especialidade da Odontologia que tem como objetivo a prevenção, o diagnóstico, o prognóstico e o tratamento das doenças próprias do complexo maxilo-mandibular, 
                        das manifestações bucais de doenças sistêmicas e das repercussões bucais do tratamento antineoplásico.
                        <br />As áreas de competência do especialista em Estomatologia incluem:  promoção e execução de procedimentos preventivos em nível individual e coletivo na área de saúde bucal, com especial ênfase à prevenção e ao diagnóstico precoce do câncer de boca,
                        condução ou supervisão de atividades de pesquisa e epidemiológica, clínica e/ou laboratorial relacionadas aos temas de interesse da especialidade, e realização ou solicitação de exames complementares, necessários ao esclarecimento do diagnóstico, bem como adequação ao tratamento.                     
                    </p>
                </div>    
                <div class="tab-pane" id="tab9">
                    <h2>Dentistica</h2>
                    <img src="/images/content/dentistica.png" width="192" height="224" class="pic alignleft" alt="" />
                    <p style="text-align: justify;">
                        A especialidade de Dentística, em uma visão abrangente e humanística, tem como objetivo o estudo e a aplicação de procedimentos educativos, preventivos e terapêuticos, para devolver ao elemento dentário sua integridade fisiológica, e assim contribuir de forma integrada com as demais
                        especialidades para o restabelecimento e a manutenção da saúde do sistema estomatognático.
                        <br />As áreas de competência para atuação do especialista em Dentística incluem:  procedimentos educativos e preventivos, devendo o especialista informar e educar o paciente e a comunidade sobre os conhecimentos indispensáveis à manutenção da saúde,
                        procedimentos estéticos, educativos e preventivos,procedimentos conservadores da vitalidade pulpar, restabelecimento das relações dinâmicas e funcionais dos dentes em oclusão,
                        manutenção e controle das restaurações,estaurações das lesões dentárias através de procedimentos diretos e indiretos,confecção de restaurações estéticas indiretas, unitárias ou não, e restauração e prótese adesivas diretas.
                    </p>
                </div>             
            </div>
        </div>
  <div class="clear"></div>
</div>
<!-- End Content Wrapper -->

