@{
    ViewBag.Title = "Fotos";
    ViewBag.SelectedMenu = "fotos";
}

<!-- Start Content Wrapper -->
<div class="content_wrapper">
    <div class="PageTitle">
        <h1>Fotos</h1>
    </div>
    <div id="breadcrumbs">
        <a href="/Home" title="Home">Home</a> &raquo; Fotos
    </div>
    <!-- Content Area -->
    <div id="content">
        <div class="gallery">
            <ul>               
                <li>
                    <div class="gallery_item">
                        <img src="/gallery/thumb/clinica_01.jpg" width="214" height="194" class="cover" alt="" />
                        <h4>Consultório</h4>
                        <p>Consultório Unidade Centro</p>                      
                        <a href="/gallery/fullsize/clinica_01.jpg" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
                    </div>
                </li>               
                <li>
                    <div class="gallery_item">
                        <img src="/gallery/thumb/clinica_02.jpg" width="214" height="194" class="cover" alt="" />
                        <h4>Consultório</h4>
                        <p>Consultório Unidade Centro</p>
                        
                        <a href="/gallery/fullsize/clinica_02.jpg" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
                    </div>
                </li>
                <li>
                    <div class="gallery_item">
                        <img src="/gallery/thumb/clinica_jabaquara.jpg" width="214" height="194" class="cover" alt="" />
                        <h4>Consultório</h4>
                        <p>Consultório Unidade Jabaquara.</p>

                        <a href="/gallery/fullsize/clinica_jabaquara.jpg" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
                    </div>
                </li>
                <li>
                    <div class="gallery_item">
                        <img src="/gallery/thumb/esterelizacao_01.jpg" width="214" height="194" class="cover" alt="" />
                        <h4>Clínicas</h4>
                        <p>Esterilização</p>
                        <a href="/gallery/fullsize/esterelizacao_01.jpg" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
                    </div>
                </li>
                <li>
                    <div class="gallery_item">
                        <img src="/gallery/thumb/museu_01.jpg" width="214" height="194" class="cover" alt="" />
                        <h4>Museu</h4>
                        <p>Museu da APCD de Piracicaba</p>                      
                        <a href="/gallery/fullsize/museu_01.jpg" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
                    </div>
                </li>
                <li>
                    <div class="gallery_item">
                        <img src="/gallery/thumb/museu_02.jpg" width="214" height="194" class="cover" alt="" />
                        <h4>Museu</h4>
                        <p>Museu da APCD de Piracicaba</p>
                        <a href="/gallery/fullsize/museu_02.jpg" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
                    </div>
                </li>
                <li>
                    <div class="gallery_item">
                        <img src="/gallery/thumb/aline_01.jpg" width="214" height="194" class="cover" alt="" />
                        <h4>Dra. Aline</h4>
                        <p>Dra. Aline e seu paciente de ortodontia Vitor.</p>                  
                        <a href="/gallery/fullsize/aline_01.jpg" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
                    </div>
                </li>
                <li>
                    <div class="gallery_item">
                        <img src="/gallery/thumb/aline_02.jpg" width="214" height="194" class="cover" alt="" />
                        <h4>Dra. Aline</h4>
                        <p>Dra. Aline e sua paciente de ortodontia Daiene.</p>                       
                        <a href="/gallery/fullsize/aline_02.jpg" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
                    </div>
                </li>
                <li>
                    <div class="gallery_item">
                        <img src="/gallery/thumb/amigos.jpg" width="214" height="194" class="cover" alt="" />
                        <h4>Lazer e Amigos</h4>
                        <p>Dr. André e Rodela, isso que dá trabalhar no Centro de São Paulo....rs</p>                      
                        <a href="/gallery/fullsize/amigos.jpg" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
                    </div>
                </li>
                <li>
                    <div class="gallery_item">
                        <img src="/gallery/thumb/amigos_02.jpg" width="214" height="194" class="cover" alt="" />
                        <h4>Lazer e Amigos</h4>
                        <p>Dr. André, Goleiro Júlio Cesar e Dra. Juliana</p>                        
                        <a href="/gallery/fullsize/amigos_02.jpg" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
                    </div>
                </li>
                <li>
                    <div class="gallery_item">
                        <img src="/gallery/thumb/promocao.jpg" width="214" height="194" class="cover" alt="" />
                        <h4>Promoção</h4>
                        <p>Gabriela, ganhadora da promoção clareamento</p>                      
                        <a href="/gallery/fullsize/promocao.jpg" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
                    </div>
                </li>
                <li>
                    <div class="gallery_item">
                        <img src="/gallery/thumb/protese_01.jpg" width="214" height="194" class="cover" alt="" />
                        <h4>Prótese</h4>
                        <p>Próteses</p>                     
                        <a href="/gallery/fullsize/protese_01.jpg" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
       
        <div class="clear"></div>
    </div>
</div>
<!-- End Content Wrapper -->
