
@{
    ViewBag.Title = "Portifolio2";
}

<!-- Start Content Wrapper -->
<div class="content_wrapper">
    <div class="PageTitle">
        <h1>Portfolio Two Columns</h1>
    </div>
    <div id="breadcrumbs">
        <a href="index.html" title="Home">Home</a> &raquo; Portfolio 2 Columns
    </div>
    <!-- Content Area -->
    <div id="content">
        <div class="portfolio_two_col">
            <ul>
                <li>
                    <div class="portfolio_thumb">
                        <a href="http://www.youtube.com/watch?v=GgR6dyzkKHI" data-rel="prettyPhoto[gallery]"><img src="/gallery/thumb/folio_2_01.jpg" width="441" height="224" alt="" class="pic" /><span class="hover_vid"></span></a>
                    </div>
                    <div class="portfolio_det">
                        <h2><a href="portfolio_single.html">Mauris Sollicitudin</a></h2>
                        <p>Malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec...</p>
                        <a href="portfolio_single.html" class="btn alignleft" title="read more">read more</a>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="portfolio_thumb">
                        <a href="http://vimeo.com/7449107" data-rel="prettyPhoto[gallery]"><img src="/gallery/thumb/folio_2_02.jpg" width="441" height="224" alt="" class="pic" /><span class="hover_vid"></span></a>
                    </div>
                    <div class="portfolio_det">
                        <h2><a href="portfolio_single.html">Mauris Sollicitudin</a></h2>
                        <p>Malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec...</p>
                        <a href="portfolio_single.html" class="btn alignleft" title="read more">read more</a>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="portfolio_thumb">
                        <a href="http://www.youtube.com/watch?v=1iIZeIy7TqM?width=640&height=360" data-rel="prettyPhoto[gallery]"><img src="/gallery/thumb/folio_2_03.jpg" width="441" height="224" alt="" class="pic" /><span class="hover_vid"></span></a>
                    </div>
                    <div class="portfolio_det">
                        <h2><a href="portfolio_single.html">Mauris Sollicitudin</a></h2>
                        <p>Malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec...</p>
                        <a href="portfolio_single.html" class="btn alignleft" title="read more">read more</a>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="portfolio_thumb">
                        <a href="/gallery/fullsize/folio_2_04.jpg" data-rel="prettyPhoto[gallery]"><img src="/gallery/thumb/folio_2_04.jpg" width="441" height="224" alt="" class="pic" /><span class="hover_img"></span></a>
                    </div>
                    <div class="portfolio_det">
                        <h2><a href="portfolio_single.html">Mauris Sollicitudin</a></h2>
                        <p>Malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec...</p>
                        <a href="portfolio_single.html" class="btn alignleft" title="read more">read more</a>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="portfolio_thumb">
                        <a href="/gallery/fullsize/folio_2_05.jpg" data-rel="prettyPhoto[gallery]"><img src="/gallery/thumb/folio_2_05.jpg" width="441" height="224" alt="" class="pic" /><span class="hover_img"></span></a>
                    </div>
                    <div class="portfolio_det">
                        <h2><a href="portfolio_single.html">Mauris Sollicitudin</a></h2>
                        <p>Malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec...</p>
                        <a href="portfolio_single.html" class="btn alignleft" title="read more">read more</a>
                        <div class="clear"></div>
                    </div>
                </li>
                <li>
                    <div class="portfolio_thumb">
                        <a href="/gallery/fullsize/folio_2_06.jpg" data-rel="prettyPhoto[gallery]"><img src="/gallery/thumb/folio_2_06.jpg" width="441" height="224" alt="" class="pic" /><span class="hover_img"></span></a>
                    </div>
                    <div class="portfolio_det">
                        <h2><a href="portfolio_single.html">Mauris Sollicitudin</a></h2>
                        <p>Malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec...</p>
                        <a href="portfolio_single.html" class="btn alignleft" title="read more">read more</a>
                        <div class="clear"></div>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <!-- Start Paging -->
        <div class="wp-pagenavi">
            <ul>
                <li><span class="pages">Page 1 of 7</span></li>
                <li><a href="#" class="first">&laquo; First</a></li>
                <li><a href="#" class="previouspostslink">&lsaquo;</a></li>
                <li><a href="#" class="page">1</a></li>
                <li><a href="#" class="page">2</a></li>
                <li><a href="#" class="page">3</a></li>
                <li><a href="#" class="page">4</a></li>
                <li><span class="current">5</span></li>
                <li><span class="extend">...</span></li>
                <li><a href="#" class="nextpostslink">&rsaquo;</a></li>
                <li><a href="#" class="last">Last &raquo;</a></li>
            </ul>
        </div>

        <!-- Start Alternate Paging -->
        <div class="navigation" id="nav-above">
            <div class="nav-previous"><a href="#"><span class="meta-nav">&larr;</span> Older posts</a></div>
            <div class="nav-next"><a href="#">Newer posts <span class="meta-nav">&rarr;</span></a></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- End Content Wrapper -->

