@{
    ViewBag.Title = "Eternity Clinica | Sobre Nós";
    ViewBag.SelectedMenu = "sobreNos";
}


<!-- Start Content Wrapper -->
<div class="content_wrapper_sbr">
    <div class="PageTitle">
        <h1>Sobre nós</h1>
    </div>
    <div id="breadcrumbs">
        <a href="/Home/Index" title="Home">Home</a> &raquo; Sobre
    </div>
    <!-- Content Area -->
    <div id="content">
        <p><img src="/images/about_pic.png" width="620" height="425" alt="" /></p>
        <h2>Quem Somos</h2>
        
        <p style="text-align: justify;">
            Eternity Clínica Odontológica, centro de excelência em odontologia. Especializados na recuperação de sorrisos, tanto no procedimento curativo quanto estético.
            Muito procurado por grandes empresários, modelos e celebridades.
            <br/>
            A Eternity Clínica Odontológica reúne em um só lugar, todas as especialidades odontológicas necessárias para se ter um sorriso perfeito, com o diferencial de
            na primeira consulta o paciente saber o tempo exato que levará o tratamento e ainda, com a possibilidade de terminá-lo em até 48 horas.
            <br />
            Na recepção uma moderna televisão combina com um ambiente moderno e aconchegante, com maquina de água e café e acesso à internet (WIFI) em todos os ambientes
            da clínica.
            <br />
            Nos consultórios, o paciente dispõe de televisão colocado acima da cadeira do dentista, onde o controle fica com o paciente, deixando-o bem à vontade para escolher
            o que deseja assistir.
            <br />
            Se uma celebridade quebra um dente, pode entrar discretamente pelo estacionamento ou utilizar o heliporto e esperar enquanto sua prótese é confeccionada.
        </p>
       
        <div class="hr"></div>
        <h2>Nossa Equipe</h2>
        <div class="columns">
            <div class="column">
                <img src="/images/andre.jpg" width="92" height="92" alt="" class="pic alignleft" />
                <h4>Dr. André Oliveira</h4>
                <p>
                    Responsável Técnico<br/>
                    CRO:  
                </p>
                <div class="clear"></div>
            </div>
            <div class="column">
                <img src="/images/juliana.jpg" width="92" height="92" alt="" class="pic alignleft" />
                <h4>Dra. Juliana Oliveira</h4>
                <p>
                    Dentista<br />
                    CRO: 
                </p>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="hr"></div>
        <div class="columns2">
            <div class="column">
                <img src="/images/aline.jpg" width="92" height="92" alt="" class="pic alignleft" />
                <h4>Dra. Aline Santana</h4>
                <p>
                    Dentista<br />
                    CRO: 
                </p>
                <div class="clear"></div>
            </div>
            <div class="column">
                @*<img src="/images/team_thumb.jpg" width="92" height="92" alt="" class="pic alignleft" />
                <h4>Tim Johnson</h4>
                <p>Donec acumsan malda orcidonec sitmet eros lorem isum dolor amet.</p>*@
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- Sidebar Area -->
    <div id="sidebar">       
                   
        <!-- Recent Projects Slider -->
        <div class="widget-container widget_recent_projects">
            <h3>Unidades</h3>
            <ul>
                <li>
                    <a><img src="/images/content/centro.jpg" width="260" height="115" alt="" class="pic" /></a>
                    <b><a>Centro</a></b>
                    <p>
                        Rua Brigadeiro Tobias, 118 Loja 303<br />
                        <strong>Telefone:</strong>11-2765-2917/3313-3992/3313-4035<br />
                    </p>
                </li>
                <li>
                    <a href="/Home/Contato"><img src="/images/content/jabaquara.jpg" width="260" height="115" alt="" class="pic" /></a>
                    <b><a>Jabaquara</a></b>
                    <p>
                        Av.Eng.Armando de Arruda Pereira, 3158-A sala 1<br />
                        <strong>Telefone:</strong>11-5021-4026<br />
                    </p>
                </li>
                <li>
                    <a><img src="/images/content/paulista.jpg" width="260" height="115" alt="" class="pic" /></a>
                    <b><a>Paulista</a></b>
                    <p>
                        Av.Paulista, 2073 sala 609 - Horsa 1 <br />Conjunto Nacional<br />
                        <strong>Telefone:</strong>11-3171-0702<br />
                    </p>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<!-- End Content Wrapper -->
