
@{
    ViewBag.Title = "Portifolio";
}

<!-- Start Content Wrapper -->
<div class="content_wrapper">
    <div class="PageTitle">
        <h1>Unidades</h1>
    </div>
    <div id="breadcrumbs">
        <a href="/Home" title="Home">Home</a> &raquo; Unidades
    </div>
    <!-- Content Area -->
    <div id="content">
        <div class="portfolio_one_col">
            <ul>
                <li>
                    <div class="portfolio_thumb">
                        <a href="/gallery/fullsize/folio_1_04.jpg" data-rel="prettyPhoto[gallery]"><img src="/gallery/thumb/folio_1_04.jpg" width="582" height="274" alt="" class="pic" /><span class="hover_img"></span></a>
                    </div>
                    <div class="portfolio_det">
                        <h2><a href="portfolio_single.html">Centro</a></h2>
                        <p>Malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec...</p>
                        <a href="portfolio_single.html" class="btn alignleft" title="read more">Veja o mapa</a>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="portfolio_thumb">
                        <a href="/gallery/fullsize/folio_1_04.jpg" data-rel="prettyPhoto[gallery]"><img src="/gallery/thumb/folio_1_04.jpg" width="582" height="274" alt="" class="pic" /><span class="hover_img"></span></a>
                    </div>
                    <div class="portfolio_det">
                        <h2><a href="portfolio_single.html">Jabaquara</a></h2>
                        <p>Malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec...</p>
                        <a href="portfolio_single.html" class="btn alignleft" title="read more">Veja o mapa</a>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="portfolio_thumb">
                        <a href="/gallery/fullsize/folio_1_04.jpg" data-rel="prettyPhoto[gallery]"><img src="/gallery/thumb/folio_1_04.jpg" width="582" height="274" alt="" class="pic" /><span class="hover_img"></span></a>
                    </div>
                    <div class="portfolio_det">
                        <h2><a href="portfolio_single.html">Paulista</a></h2>
                        <p>Malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec...</p>
                        <a href="portfolio_single.html" class="btn alignleft" title="read more">Veja o mapa</a>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- End Content Wrapper -->

