
<!-- Start Footer  -->
<div class="footer_full">
    <div id="footer">
        <div class="copy">
            <p>Copyright &copy; @DateTime.Now.Year  &bull;  All rights reserved</p>
            <p class="developed_by">Developed By: <a href="http://varcalsys.com.br/" target="blank">VarçalSys Soluções</a></p>
        </div>
        <div class="social">
            <a href="http://www.facebook.com/EternityClinica" target="blank" title="Facebook"><img src="/images/facebook.png" width="42" height="42" alt="" /></a>        
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- End Footer  -->