<div class="head_top_shadow"></div>
<div class="head_bot_shadow"></div>
<div id="header">
    <div class="SliderBg">
        <!-- Begin Slider -->
        <div class="slideContainer">
            <ul class="accordion" id="accordion">
                <li class="bg1">
                    <a href="#" title="How We Do It">How We Do It</a>
                    <h2>How We Do It</h2>
                    <div>
                        <h2>How We Do It</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            nulla pariatur.
                        </p>
                    </div>
                </li>
                <li class="bg2">
                    <a href="#" title="Easy to Customize">Easy to Customize</a>
                    <h2>Easy to Customize</h2>
                    <div>
                        <h2>Easy to Customize</h2>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                            quae ab illo inventore veritatis et quasi architecto beatae vitae
                            dicta sunt explicabo.
                        </p>
                    </div>
                </li>
                <li class="bg3">
                    <a href="#" title="Clean Design">Clean Design</a>
                    <h2>Clean Design</h2>
                    <div>
                        <h2>Clean Design</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            nulla pariatur.
                        </p>
                    </div>
                </li>
                <li class="bg4">
                    <a href="#" title="Works Everywhere">Works Everywhere</a>
                    <h2>Works Everywhere</h2>
                    <div>
                        <h2>Works Everywhere</h2>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                            quae ab illo inventore veritatis et quasi architecto beatae vitae
                            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                            sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                            dolores eos qui ratione voluptatem sequi nesciunt.
                        </p>
                    </div>
                </li>
                <li class="bg5">
                    <a href="#" title="Web Development">Web Development</a>
                    <h2>Web Development</h2>
                    <div>
                        <h2>Web Development</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat
                            nulla pariatur.
                        </p>
                    </div>
                </li>
                <li class="bg6">
                    <a href="#" title="Color Picker">Color Picker</a>
                    <h2>Color Picker</h2>
                    <div>
                        <h2>Color Picker</h2>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                            quae ab illo inventore veritatis et quasi architecto beatae vitae
                            dicta sunt explicabo.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- End Slider -->
    </div>
</div>