
 
    <div id="coin-slider">
    <a href="#">
        <img src="/images/slider/slide1.jpg" width="952" height="392"  />
        @*<span>
            Fazemos sistemas adequados e customizados para o seu negócio, estamos sempre nos atualizando sobre as novas tecnologias de mercado.
        </span>*@
    </a>   
    <a href="#">
        <img src="/images/slider/slide2.jpg" width="952" height="392" alt="img3" />
        <span>
            Eternity Clinica 
        </span>
    </a>
    <a href="#">
        <img src="/images/slider/slide3.jpg" width="952" height="392" alt="img4" />
        <span>
            Eternity Clinica
        </span>
    </a>    
    <a href="#">
        <img src="/images/slider/slide4.jpg" width="952" height="392" alt="img6" />
        <span>
            Eternity Clinica
        </span>
    </a>
</div>
