
 
    <div id="coin-slider">
    <a href="#">
        <img src="/images/slider/slide1.jpg" width="952" height="392"  />
    </a>   
    <a href="#">
        <img src="/images/slider/slide2.jpg" width="952" height="392" alt="img3" />
        
    </a>
    <a href="#">
        <img src="/images/slider/slide3.jpg" width="952" height="392" alt="img4" />
        
    </a>    
    <a href="#">
        <img src="/images/slider/slide4.jpg" width="952" height="392" alt="img6" />
    </a>
</div>
